<!-- ////////////// DETAIL HEADER ////////////// -->

header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.justify-content-center.header-list
					li.nav-item
						a.nav-link(href='#') ÁO CƯỚI
					li.nav-item
						a.nav-link(href='#') ÁO VEST
					li.nav-item
						a.nav-link(href='#') ÁO PHÙ DÂU
					li.nav-item
						a.navbar-brand(href='#')
							img(src='../img/LOGOROSY.png', alt='')
					li.nav-item.active
						a.nav-link(href='#') PHỤ KIỆN
					li.nav-item
						a.nav-link(href='#') SẢN PHẨM BÁN KHÁC
<!-- ////////////// END HEADER ////////////// -->