<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.border-top
	.container.pb-4
		.row
			.col-12.col-md
				img.mb-1(src="./img/logo.png" alt="")
				div.text-muted Rosy studio luôn mang đến cho quý khách sự cảm hứng trên từng khung ảnh
				.footer-icon.mt-2.d-flex
					a(href="" class="icon-facebook")
						i.fa.fa-facebook-official
					a(href="")
						i.fa.fa-google-plus-official.icon-google
					a(href="")
						i.fa.fa-instagram
					a(href="" class="icon-twitter")
						i.fa.fa-twitter
			.col-6.col-md-2
				h5.text-muted LIÊN KẾT
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Giới thiệu
					li
						a.text-muted(href="#") Liên hệ
					li
						a.text-muted(href="#") Dịch vụ
					li
						a.text-muted(href="#") Blog
			.col-6.col-md-2
				h5.text-muted HỖ TRỢ
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Faq's
					li
						a.text-muted(href="#") Đặt lịch
					li
						a.text-muted(href="#") Góp ý
					li
						a.text-muted(href="#") Kế hoạch
			.col-12.col-md
				div.text-muted Theo dõi trang web của chúng tôi để nhận được nhiều ưu đãi tại cửa hàng.
				form.form-email.d-flex.justify-content-between.mt-2
					input.input-email(type="email", value="" placeholder="Địa chỉ email...")
					input.input-submit(type="submit", value="Gửi")
	.footer-copyright.text-muted <i class="fa fa-copyright"></i> Copy right by Newbie
