@font-face
	font-family: "EllaFutura"
	src: url(../fonts/elle-futura-book.otf)

@font-face
	font-family: "CandleScript"
	src: url(../fonts/SVN-Vanilla-Daisy-Pro.ttf)

html, body
	font-family: "EllaFutura"
	font-size: 12.5px
	@media only screen and (min-width: 1400px)
		font-size: 14.5px
	height: 100%
	width: 100%

// Extend
.home-title-total
	text-align: center
	margin-bottom: 9rem
	padding-top: 2.5rem

	+media-breakpoint-only(xl)
		margin-bottom: 10rem

	+media-breakpoint-down(md)
		margin-bottom: 5rem
			
	+media-breakpoint-down(sm)
		margin-bottom: 4rem

	.home-about-us-title
		color: #d77c7c
		font-family: CandleScript
		font-size: 3rem
			
	.home-about-us-img-title
		+media-breakpoint-only(xl)
			width: 19%
		+media-breakpoint-only(lg)
			width: 22%
		+media-breakpoint-only(md)
			width: 30%
		+media-breakpoint-only(sm)
			width: 40%
		+media-breakpoint-down(sm)
			width: 45%

// Actived
.actived
	color: $white
	background-color: $pink-opacity
.hide-element
	display: none

// Actived item
.actived-catalog
	color: rgba(0, 0, 0, 0.7) !important


// Scrollbar
/* width */
::-webkit-scrollbar
	width: 5px

/* Track */
::-webkit-scrollbar-track
	background: #f1f1f1
 
/* Handle */
::-webkit-scrollbar-thumb
	background: #888
	border-radius: 5px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
	background: #555